@import "mixins";

.button {
  border: none;
  line-height: 2rem;
  font-weight: 800;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  transition: transform 0.25s, opacity 0.25s;
  cursor: pointer;
  text-decoration: none;
  &--dark {
    background-color: #2c3333;
    color: #f5f2e7;
  }
  &--light {
    background-color: #f5f2e7;
    color: #2c3333;
  }
  &--sidebar {
    top: 0;
    position: relative;
    transform: rotate(180deg);
    right: 0;
    background-color: transparent;
    justify-content: flex-start;
    padding: 0;
    @include flex-fd-jc-ai-g(
      row,
      center,
      center,
      (
        x: 0.5rem,
        y: 0rem,
      )
    );
    transition: transform 0.25s;
    @include sm {
      position: absolute;
      top: 0.5rem;
      transform: rotate(0deg);
    }
    &-minimized {
      top: 0;
      position: relative;
      transform: rotate(180deg);
      order: -1;
    }
    &-expand {
      position: absolute;
      top: 0.5rem;
      transform: rotate(0deg);
    }
  }
  &--form {
    margin: 0 auto;
  }
  &--disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
  &--icon-eye {
    @include flex-fd-jc-ai-g(row, center, center);
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      transform: rotate(329deg);
      height: 0rem;
      background: #2c3333;
      transition: height 0.25s;
      width: calc(0.0625rem * 1.5);
      border-radius: 0.5rem;
    }
    &--close {
      &::before {
        height: 1rem;
      }
    }
  }
  &--menu-icon {
    padding: revert;
  }
  &--search {
    flex: 2;
    padding: 0.5rem;
    @include flex-fd-jc-ai-g(row, center, center, 0.5rem);
    @include laptop {
      padding: 0;
      flex: 0.5;
    }
    @include desktop {
      &::after {
        content: "Buscar";
      }
      font-size: 0.79rem;
    }
  }
  &--clear {
    flex: 2;
    background-color: #2666cf;
    padding: 0.5rem;
    @include flex-fd-jc-ai-g(row, center, center, 0.5rem);
    color: #f5f2e7;
    @include laptop {
      padding: 0;
      flex: 0.8;
    }
    @include desktop {
      &::after {
        content: "Limpiar Búsqueda";
      }
      font-size: 0.79rem;
    }
  }
  &--tuition {
    flex: 1;
    padding: 0.5rem;
    @include flex-fd-jc-ai-g(row, center, center, 0.1rem);
    &:nth-child(1) {
      background-color: #2c3333;
      color: #f5f2e7;
      @include desktop {
        &::after {
          content: "Matrícula";
        }
        font-size: 0.79rem;
        flex: auto;
      }
    }
    &:nth-child(2) {
      background-color: #f5f2e7;
      color: #2c3333;
      @include desktop {
        flex: auto;

        &::after {
          content: "Limpiar selección";
        }
        font-size: 0.79rem;
      }
    }
  }
  &--close {
    position: absolute;
    background-color: #2666cf;
    right: -1.5rem;
    top: 0rem;
    border-radius: 0.25rem;
    line-height: 0;
    padding: 0;
  }
  &--error-leason {
    @include flex-fd-jc-ai-g(row, center, center, 0.5rem);
  }
  &--success {
    @include flex-fd-jc-ai-g(row, center, center, 0.5rem);
  }
  &--danger {
    box-shadow: 0 0 0.5rem 0rem #fc1a1a;
    background-color: #ff4c4c;
    align-self: center;
    display: block;
    margin: 0 auto;
  }

  &--lg {
    font-size: 1.125rem;
    @include laptop {
      font-size: 1.25rem;
    }
  }
  &--primary {
    border: 0.0625rem solid var(--primary-button-color);
    color: var(--primary-text-color);
    background-color: #2666cf;
  }

  &--secondary {
    background-color: var(--secondary-button-color);
    border: 0.0625rem solid var(--secondary-button-color);
    color: var(--reverse-primary-text-color);
    &:hover {
      box-shadow: 0 0 0.5rem 0 var(--secondary-button-color);
    }
  }
  &--contact {
    background-color: #395b64;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  &--outline {
    background-color: transparent;
    color: var(--primary-text-color);
  }
  &:active {
    transform: scale(0.95);
  }
}
