@import "mixins";

.error {
  background-color: #395b64;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 80%;
  box-sizing: border-box;
  overflow: hidden;
  &-container {
    @include flex-fd-jc-ai-g(row, center, center, 0.5rem);
    height: 100%;
    padding: 0 1rem;
  }
  &__title {
    margin: 0;
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #f5f2e7;
    text-align: center;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &--register {
    flex: 100%;
  }
  @include laptop {
    width: 60%;
  }
}
