@import "mixins";

.form {
  min-height: 5rem;
  width: min(80%, 640px);
  &-container {
    @include flex-fd-jc-ai-g(column, $align-items: center, $gap: 1rem);
    &--register {
      padding: 0 1rem;
      @include tablet {
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
  }
  &__label {
    @include flex-fd-jc-ai-g(row, flex-start, center, 0.5rem);
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.1rem 0rem #2c3333;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 80%;
    &--register {
      width: 100%;
      @include tablet {
        &:nth-child(1) {
          flex: 100%;
        }
        &:nth-child(2) {
          flex: calc(50% - 1rem);
        }
        &:nth-child(3) {
          flex: calc(50% - 1rem);
        }
        &:nth-child(4) {
          flex: calc(50% - 1rem);
        }
        &:nth-child(5) {
          flex: calc(50% - 1rem);
        }
      }
    }
    @include laptop {
      width: 60%;
    }
  }
  &__input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    &__icon-eye {
      @include flex-fd-jc-ai-g(row, center, center);
      padding: 0;
      cursor: pointer;
      border: none;
      background: transparent;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        transform: rotate(329deg);
        height: 0rem;
        background: #2c3333;
        transition: height 0.25s;
        width: calc(0.0625rem * 1.5);
      }
      &--close {
        &::before {
          height: 1rem;
        }
      }
    }
  }
}
