@import "mixins";

.form {
  min-height: 5rem;
  width: min(80%, 640px);
  &-container {
    @include flex-fd-jc-ai-g(column, $align-items: center, $gap: 1rem);
    &--register {
      padding: 0 1rem;
      @include tablet {
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
  }
  &__label {
    @include flex-fd-jc-ai-g(row, flex-start, center, 0.5rem);
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.1rem 0rem #2c3333;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 80%;
    &--register {
      width: 100%;
      @include tablet {
        &:nth-child(1) {
          flex: 100%;
        }
        &:nth-child(2) {
          flex: calc(50% - 1rem);
        }
        &:nth-child(3) {
          flex: calc(50% - 1rem);
        }
        &:nth-child(4) {
          flex: calc(50% - 1rem);
        }
        &:nth-child(5) {
          flex: calc(50% - 1rem);
        }
      }
    }
    @include laptop {
      width: 60%;
    }
  }
  &__input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
  &__title {
    text-align: center;
    margin: 0;
  }
  &--delete {
    width: 100%;
    order: 3;
  }
}
