@import "mixins";

.sidebar {
  background-color: #2666cf;
  &-container {
    height: 100%;
    padding: 0 0.5rem;
    @include flex-fd-jc-ai-g(column, $gap: 1rem);
  }
  &__avatar {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    transition: width 0.25s, height 0.25s;
    @include sm {
      width: 5rem;
      height: 5rem;
    }
    &--minimized {
      width: 1.3rem;
      height: 1.3rem;
    }
    &--expand {
      width: 5rem;
      height: 5rem;
    }
  }
  &__title {
    margin: 0;
    color: #f5f2e7;
    text-align: center;
    font-size: 0;
    opacity: 0;
    transition: opacity 0.25s, font-size 0.25s;
    display: none;
    @include sm {
      display: inline-block;
      font-size: 1.35rem;
      opacity: 1;
    }
    &--hidden {
      display: none;
      font-size: 0;
      opacity: 0;
    }
    &--minimized {
      display: none;
      font-size: 0;
      opacity: 0;
    }
    &--expand {
      display: inline-block;
      font-size: 1.35rem;
      opacity: 1;
    }
  }
  &__user {
    position: relative;
    &-container {
      @include flex-fd-jc-ai-g(column, center, center, 0.5rem);
      padding: 1rem 0;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f5f2e7;
        height: calc(0.0625rem * 2);
      }
    }
  }
}
