.section-table {
  padding: 1rem;
  box-sizing: border-box;
  flex: 1;
}

/*------TABLA DESKTOP--------*/

.tabla-desktop {
  width: 100%;
  /*las celdas no van a tener borde individual*/
  border-collapse: collapse;
  color: #f5f2e7;
}

.tabla-desktop tr th {
  background-color: #2c3333;
  color: #f5f2e7;
  border: 1px solid #909090;
  padding: 5px;
  text-align: left;
}

.tabla-desktop tr td {
  border: 1px solid #909090;
  padding: 5px;
}
.tabla-desktop tr:nth-of-type(even) {
  background-color: #f5f2e7;
  color: #2c3333;
}

.tabla-desktop tr:nth-of-type(odd) {
  background-color: #395b64;
}

/*-------TABLA MOBILE--------*/
.tabla-mobile {
  display: none;
  width: 100%;
}

.tabla-mobile .fila .columna {
  display: flex;
}

.tabla-mobile .fila .columna .header-table,
.tabla-mobile .fila .columna .contenido {
  border: 1px solid #909090;
  border-bottom: none;
  padding: 10px;
}

.tabla-mobile .fila .columna .header-table {
  width: 40%;
  background-color: #303030;
  color: white;
  font-weight: bold;
}

.tabla-mobile .fila .columna .contenido {
  width: 60%;
}

.tabla-mobile .fila:nth-of-type(even) .columna .contenido {
  background-color: #e6e6e6;
}

.tabla-mobile .fila .columna:last-of-type .contenido,
.tabla-mobile .fila .columna:last-of-type .header-table {
  border-bottom: 1px solid #909090;
}

@media (max-width: 768px) {
  .tabla-mobile {
    display: block;
  }

  .tabla-desktop {
    display: none;
  }
}
